    </div>


    <section id="footer">
					
            <div class="inner">
                <header>
                    <h2>Get in Touch</h2>
                </header>
                <form method="post" action="/getintouch">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="alt" /></li>
                    </ul>
                </form>
                <div class="copyright">
                    &copy; 2020 Fruitables 
                </div>
              

                <label class="switch">
                        <input type="checkbox">
                 <span class="slider round" onclick="dark()"></span>
                        
              
                      </label>
                      <span><p>Dark Mode</p></span>
            </div>
        </section>

   

    	    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
			<script type="text/javascript" src="javascripts/skel.min.js"></script>
			<script type="text/javascript" src="javascripts/util.js"></script>
            <script type="text/javascript" src="javascripts/main.js"></script>
            <script type="text/javascript" src="javascripts/checkout.js"></script>
            <script type="text/javascript" src="javascripts/button.js"></script>
            <script type="text/javascript" src="javascripts/seating.js"></script>
            <script type="text/javascript" src="javascripts/dark.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
        </body>

            </html>
