
<% include ./partials/header1 %>
<link rel="stylesheet" href="stylesheets/landing.css" />
<% include ./partials/header2 %>

<!DOCTYPE HTML>
<html>
	<head>
		<title>Fruitables</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="stylesheets/landing.css" />
	</head>
	<body>
			<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>			
			<section id="banner">
                    <div class="inner">
                            <center>
							   <header>
								<h1>Fruitables<span><br />
                                   <small>Your online shopping destination for fruits and veggies.</small> </span></h1>
                                <ul class="actions">
                                    <li><a href="\menu" class="button alt">Order Now</a></li>
                                    <li><a href="\check" class="button alt">map</a></li>

								</ul>
								</header>
                            </center>	
                    </div>   
			</section>
			<section id="one">
				<div class="inner">
					<header>
						<h2>Hi There!</h2>
					</header>
					<p><span class="image right"><img src="images/11.jpg" alt="" /></span>Welcome to Fruitables! We guarantee you the freshest fruits and vegetables, ripened at just the right amount, delivered daily to our dock.<br>
                        We offer a variety of fruits and vegetables, according the season and in check with reasonable market price. 
                        Feel free to discover our succulent variety of fresh batches and get it delivered to your doorstep!.</p>
					<ul class="actions">
						<li><a href="\menu" class="button alt">Discover our items</a></li>
					</ul>
				</div>
			</section>

			<section id="three">
				<div class="inner">
					<article>    
						<div class="content">
                                <center>
                                <div class="image fit">
                                        <img src="images/9.jpg" alt="" />
                                    </div>
							<header>
								<h3>Discover our Fruitables!</h3>
							</header>
							<p>Head over to our catalogue and browse over a variety of fresh, delicious fruits and vegetables just waiting to be ordered for you! </p>
							<ul class="actions">
								<li><a href="\menu" class="button alt">show me the items!</a></li>
                            </ul>
                        </center>
						</div>
                    </article>
                    <article>
                        <div class="content">
                            <center>
                                <div class="image fit">
                                        <img src="images/4.jpg" alt="" />
                                    </div>
                                <header>
                                    <h3>Visit us personally!</h3>
                                </header>
                                <p>You're always welcome at our physical stores spread all over Pakistan! You can view the map to find us. Come and grocery shop with us at our store near you!</p>
                                <ul class="actions">
                                    <li><a href="/check" class="button alt">Locate Stores</a></li>
                                </ul>
                            </center>
                            </div>
                        </article>
					
					<article>
					<div class="content">
                        <center>
							<div class="image fit">
                                    <img src="images/m.jpg" alt="" />
                                </div>
							<header>
								<h3>Delivery right at your doorstep!</h3>
							</header>
							<p>Not in the mood to leave your bed for grocery shopping? Get your fruits and vegetables delivered at your doorstep! It's simple and fast.</p>
							<ul class="actions">
								<li><a href="/user/signin" class="button alt">Deliver it at my home</a></li>
                            </ul>
                        </center>
						</div>
					</article>
				</div>
            </section>
            
            
			<section id="two">
                    <div class="inner">
                        <article>
                            <div class="content">
                                <header>
                                    <h3>Timings</h3>
                                </header>
                                <div class="image fit">
                                    <img src="images/1.jpg" alt="" />
                                </div>
                                <p><h4>Delivery timings.</h4> 
                                       Monday — Thursday 
                                       <br>6:00 am - 6:00 pm
                                        <br>Friday — Sunday 6:00 am - 12:30 pm
                                        <br>PST
                                        <br>Karachi, Pakistan
                                        <br>Helpline: 021 111 1111</p></div>
                                        <h4>Orders open</h4>
                                        Open 24/7
                        </article>
                        <article class="alt">
                            <div class="content">
                                <header>
                                    <h3>About Us</h3>
                                </header>
                                <div class="image fit">
                                    <img src="images/3.jpg" alt="" />
                                </div>
                                <p>The tradition of Fruitables is centred on fresh products delivered to you at wholsale pricce
                                    so that you do not have to get into the hassle of physical grocery shopping. Our aim is to revolutionize 
                                    this area of shopping and make fruits and vegetable shopping as pleasent and comforting as possible.
                                     </p>
                            <p>We love comfort, honesty and shopping and all that it entails and our business is to bring all of that together in one place. We are inspired by the world around us - both near and far; from gigantic market places all around the world, to farmers in our local regions. Our purpose is to bring the best of everything to our customers.</p>
                            </div>
                        </article>                       
                    </div>
                </section>
	</body>
</html>


<% include ./partials/footer %>



