<% include ../partials/header1 %>
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/landing.css" />
<% include ../partials/header2 %>
<section id="one">
  <div class="inner">
    <% if(hasErrors) { %>
    <div class="alert alert-danger">
      <% messages.forEach(function(message) { %>
      <p><%= message %></p>
      <% });%>
    </div>
    <%}%>
    <header>
      <h2>Reset Password</h2>
    </header>
    <form action="/user/forget" method="POST">
      <input
        type="email"
        name="email"
        placeholder="Enter your email address."
      />
      <input type="submit" value="Reset Password" />
    </form>
  </div>
</section>
